<template name="layout">
  {{> navBar}}
  {{> loginButtons}}
  {{> yield}}
  {{> footer}}
</template>

<template name="footer">
 <section id="footer">
        <div class="top-footer">
            <div class="container-fluid">
                <div class="row-fluid">
                    <nav id="footer-nav" class="span6">
                        <a href="/">Home</a>
                        @if (User.Identity.IsAuthenticated)
                        { <a href="/my-polls">My Polls</a> }
                        <a href="/privacy-policy">Privacy Policy</a>
                        <a href="/terms-of-use">Terms of Use</a>
                    </nav>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div id="copyright" class="span6 pull-left text-left">
                            <a>©@DateTime.Now.ToString("yyyy").ToUpper() Pollit. All Rights Reserved.</a>
                        </div>
                        <div class="span6 pull-right text-right"><a href="http://square205.com" title="An Interactive Design & Development Agency">Creative by Square 205</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @if (!isHomepage && User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            $("a.plus-icon").click(function (e) {
                e.preventDefault();
                if ($("#createpoll-dropdown").is(":visible"))
                    $("#createpoll-dropdown").slideUp(500);
                else
                    $("#createpoll-dropdown").slideDown(500);
            });
        </script>
    }
</template>

<template name="navBar">
  <header id="navigation" class="navbar">
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="logo" class="span4">
                    <a href="/">
                        <img src="/images/logo.png">
                    </a>
                    <span>BETA</span>
                </div>
                <div class="span5">
                    @if (!isHomepage)
                    {
                        using (Html.BeginForm("Query", "Search", FormMethod.Get, new { @class = "search-form" }))
                        {
                            <div class="header-search" style="display:none">
                                @Html.TextBox("query", null, new { placeholder = "Search" })
                                <div class="header-icon-container">
                                    <a class="search-icon" href=""><img src="/images/search.png" /></a>
                                    <a class="location-icon" href=""><img src="/images/location.png" /></a>
                                    <a class="filter-icon" href=""><img src="/images/filter.png" /></a>
                                    <a class="plus-icon" href="/Login"><img src="/images/plus.png" /></a>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="header-right span3 pull-right">
                    {{> headerLogin}}
                </div>
            </div>
        </div>
    </header>

    @if (!isHomepage && User.Identity.IsAuthenticated)
    {
        <div class="poll-page">
            <div id="createpoll-dropdown" class="dropdown">
                <div class="dropdown-poll">
                    <div class="container-fluid">
                        @Html.Action("Create", "Poll", new { partial = true })
                    </div>
                </div>
            </div>
        </div>
    }
</template>

<template name="headerLogin">
@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <div id="header-login-create">
        @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "login-btn" })
        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "create-btn" })
        <div class="register-triangle"></div>
    </div>
}
</template>